*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    box-shadow: none !important;
}
html{
    scroll-behavior: smooth;
}
button{
    box-shadow: none;
}
body{
    background-color: #1A1A1A;

}
h1, h2, h3, h4, h5, h6{
    
    color:#D9D9D9;
}
h1{
    font-size: 70px;
}
.lock-body{
overflow: hidden;
}
.lock-section{
    opacity: 0.1 !important;
    
}

a {
    line-height: 45px;
}
p{
    font-family: 'Inter',;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}
.fa.fa-clock-o, .fa.fa-location-arrow, .fa.fa-phone {
    color: grey;
    font-size: 30px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 991px){
    .navbar-nav{
    text-align: left;
    }      
    .nav-link{
    font-size: 26px;
    text-align: center;
    font-weight: 200;
    }
    .navbar-collapse{
        margin-top: 7px;
    }
    .second-ul{
        margin-left: 0px !important;
    }
    .active-nav{
        background-color:rgba(48, 48, 48, 0.9);
                          
    }
}
.navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 300;  
    transition: all 0.5s ease 0s;
}

.navbar-toggler-icon i{
    color:#34C759 ;
    font-size: 30px;
}
.nav-link button:hover{
    color: #fff;
}

.navbar a {
    color:white;
}
.navbar .nav-item {
    margin-left: 10px;   
}
.second-ul{
    margin-left: 40px;
}

.second-ul li{
    padding-top: 5px ;
}



.nav-link button{
    border:1px solid #34C759;
    color: white;
    padding: 4px 8px 5px 8px;
}
/* *****
********
******** logo logo logo
********
*******
 */

 .logo-upper{
    display: flex;
    justify-content: flex-end;
}


.logo{
    display: flex;
    flex-direction: column;
    margin-right:10px ;
}
.logo-lower{
    display: flex;
}
.logo-content{
    display: flex;
    align-items: center;
}

/* **********
*************
************* FORM FORM FORM
*************
*************
*/
.regist{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
	display: flex;
	flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 300;
}

.form_signIn{
    position: relative;
}
.cancel-button-form{ 
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 150px;
    height: 60px;
    color: #7d7d7d;
    border: 4px solid;
    font-size: 16px;
    text-align: center;
    font-family: "montserrat",sans-serif;
    font-weight: 700;
    padding-top:15px ;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
    
}
 .cancel-button-form:hover{
    color: #7d7d7d;
}


.cancel-button-form::before,.cancel-button-form::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #15dfed;
    transform: skewX(50deg);
    transition: .4s linear;
}
.cancel-button-form::before{
    top: -4px;
    left: 10%;
}
.cancel-button-form::after{
    bottom: -4px;
    right: 10%;
}
.cancel-button-form:hover::after{
    right: 80%;
}
.cancel-button-form:hover::before{
    left: 80%;
}

input{
    height: 47px;
    padding: 20px 20px;
}
label{
	display: block;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}
.gender label{
    padding: 0;
    padding-bottom: 2px;
}

.gender input{
    margin: 0 10px;
}

.register{
    height: 40px;
    padding: 0;
}
.gender{
	display: flex;
    align-items: center;
	padding: 0;
	margin-top: 10px;
}

.form_signIn{
	display: none;
}
.show-form{
    display: block !important;
}


/* TITLE */
.title {
    background-image: url('./img/main.png');
    position: relative;
    background-position: right ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.title-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

.title-info-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.title-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    
}

.line{
    position: relative;
    top: 80px;
    background-color: grey;
    width: 100%;
    height: 2px;
    z-index: 999 ;
}

.title-content button {
    background-color: #34C759;
    border-radius: 50px;
    font-family: 'Inter',;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 220px;
    height: 75px;
    letter-spacing: 4px;
    margin: 25px 0 40px 0;
}


.title-content h1{
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 87px;
    color: #fff;
}
.title-content p{
        text-align: center;
        width: 100%;
        max-width: 600px;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.2px;
        opacity: 0.7;
     } 

.title-content span{
            font-weight: 300;
 }        

 .title-info p{
    font-size: 14px;
    font-weight: 400;

 }
/* work section */

.work-title{
    text-align: center;
}


.work{
    padding:40px;
}
.small-title h2{
    font-size: 150px;
    letter-spacing: 7px;
    color:#303030;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    letter-spacing: 10px;
    
}

.small-title h3{
    position: absolute;
    color: #fff;
    top: 44px;
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 7px;
}

.small-title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


hr{
    background-color: #34C759;
    height: 2px;
    width: 70px;
}

.work-blank{
    background-color:#252525;
    width: 240px;
    height: 190px;
    padding: 20px;
    margin: 0 23px;
    border-radius: 6px;
}

.work-blank:hover > .hover{
    color: black;
}

.work-blank:hover > .work-lines{
    background-color: black;
}
.work-blank:hover{
 background-color: #34C759;
}
@media only screen and (max-width:1024px){
  .work-blank{
      width: 300px;
  }
}

.hover-blank{
    background-color:#34C759 ;
}
.hover-lines{
    background-color: black !important;
}


.work-blank p{
    color: grey;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    letter-spacing: -0.1625px;
    font-style: normal;
    font-weight: normal;    
    
}

.work-blank h4{
    color: white;
}

.work-lines{
    background-color: #34C759;
    width: 70px;
    height: 2px;
    margin: 15px 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  @media only screen and (max-width:2220px){
    .work-blank{
        margin: 15px 15px;
    }
} 

/*
 ********
 ******** dishes section
 ********
  */

.dishes{
    padding: 40px;
}

 @media only screen and (min-width: 320px) {
     .small-title h3 {
      text-align: center;
    }
  } 

.dishes-blank-img{
    min-height: 260px;
    width: 350px;
    background-position: center;
    background-size: cover;
    border-radius: 7px 7px 0 0;
}
.blank1{
    background-image: url(./img/dishes.jpg);
}
.blank2{
    background-image: url(./img/dishes-1.jpg);
}
.blank3{
    background-image: url(./img/dishes-2.jpg);
}
.blank4{
    background-image: url(./img/dishes-3.jpg);
}
.blank5{
    background-image: url(./img/dishes-4.jpg);
}
.blank6{
    background-image: url(./img/dishes-5.jpg);
}


.dishes-blank-title{
    padding: 20px;
    background-color: #252525;
    border-radius: 0 0 7px 7px;
}
.dishes-blank-title i{
    color: grey;
    font-size: 26px;
    margin-left: 5px;
}
.dishes-blank-title h3{
    margin: 15px 0 0 0;
    color: #fff;
    line-height: 0.7;
    font-size: 35px;
}

.dishes-blank-title span{
    color: #A4A8B2;
    font-size: 13px;
}
.dishes-blank-title p{
    color: grey;
    margin-top: 20px;
}

.dishes-blank{
    width: 350px;
    margin: 24px 16px;
    
}



.dishes-blank-title .btn{
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
    color: grey;
    margin-left: 20px;
    width: 113px;
    height: 40px;
}

.orderButton span{
    color: grey;
    font-size: 13px;
    font-weight: bold;

}

.dishes-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 300px;
}  
@media only screen and (max-width: 1440px) {
  .dishes-wrapper{
    margin: 0;
    width: 100%;
  }
 } 

 @media only screen and (min-width:2560px){
     .dishes-wrapper{
         margin: 0 500px;
     }
 }
.dishes-title-order{
    display: flex;
    align-items: center;
}

.black{
    color: black !important;
}
.order-button{
    background-color: #34C759;
}
/* 
    *******
    *******  CHEFS SECTION
    *******

*/




.chefs{
    padding: 40px;
}
.chefs-blank-face{
    min-height: 65px;
    width: 65px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.face-1{
    background-image: url(./img/chefs-1.jpg);
}

.face-2{
    background-image: url(./img/chefs-2.jpg);
}

.face-3{
    background-image: url(./img/chefs-3.jpg);
}

.chefs-blank-first{
    display: flex;
    align-items: center;

}

.chefs-blank-first span{
    color: #A4A8B2;
    font-size: 13px;
}

.chefs-blank-title{
    margin-left: 20px;
}

.chefs-blank{
    width: 350px;
    height: 165px;
    margin-left: 40px;
}

.chefs-blank-second{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cbs-big{
    min-height: 65px;
    width: 160px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

.big-1{
    background-image: url(./img/big-1.jpg);
}
.big-2{
    background-image: url(./img/big-2.jpg);
}
.big-3{
    background-image: url(./img/big-3.jpg);
}

.cbs-small{
    min-height: 65px;
    width: 65px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

.small-1{
    background-image: url(./img/small-1.jpg);
}
.small-2{
    background-image: url(./img/small-2.jpg);
}
.small-3{
    background-image: url(./img/small-3.jpg);
}
.small-4{
    background-image: url(./img/small-4.jpg);
}
.small-5{
    background-image: url(./img/small-5.jpg);
}
.small-6{
    background-image: url(./img/small-6.jpg);
}

.chefs-wrapper{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:1040px){
    .chefs-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .chefs-blank{
        margin: 0 0 30px 0;
    }

}


.star{
    color: #F9AD3D !important;
    
}

/* ABOUT */

.about{
    padding: 40px;
    position: relative;
    background-color: #252525;
    width: 100%;
    background-color: #1A1A1A;
}

.img-carousel{
    width: 350px;
    height: 280px;
}

.about img{
    height: 100%;
}
    .fa.fa-arrow-right, .fa.fa-arrow-left{
        font-size: 20px;
        border: 2px solid #262626;
        border-radius: 50%;
        padding: 20px;
    }

    .about a{
        background-color: #1A1A1A;
    }
/* recipes 
********
********
********
********
*/
.recipes{
    padding: 40px;
}
.recipes-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.big-recipes-blank{
    background-image:url('./img/recipes-1.png');
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-right: 30px;
}

.big-recipes-blank h4{
    color: #fff !important;
    font-weight: 500;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
}
.big-recipes-blank span{
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 15px;
}

.recipes p{
    letter-spacing: 1.2px;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 7px;
    
}
.blank-lower{
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-wrapper{
    display: flex;
    flex-direction: column;
    align-content:space-between;
}

@media only screen and (max-width: 1023px) {
    .recipes-wrapper{
        flex-direction: column;
    } 
    .small-recipes-blank{
        width:100% !important;
    }
    .big-recipes-blank{
        margin: 0 0 30px 0;
        min-height: 300px;
    }
}
.small-recipes-blank h4{
    color: #fff !important;
    font-weight: 500;
    line-height: 30px;
    font-size: 19px;
    text-align: left;
}
.srb-1{
    background-image: url('./img/recipes-2.png');
}

.srb-2{
    background-image: url('./img/recipes-3.png');
}

.srb-3{
    background-image: url('./img/recipes-4.png');
    margin-bottom: 0 !important;
}

.small-recipes-blank{
    color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    width: 540px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.recipes-stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.left-side{
    display: flex;
}

.left-side span{
    margin-left: 7px;
}

.right-side{
    display: flex;
    align-items: center;  
}

.right-side *{
    margin-right: 10px;
}

/* 
******
******
******  SOCIAL
******
******
 */

.social{
    padding: 40px 40px 120px 40px;

}
.middle{
    width: 350px;
    background-color: #303030;
    height: 2px;
    margin-top: 23px;
}

.social span{
    color: #BFBFBF;
    font-weight: 500;
    font-size: 14px;
    font-style: 14px;
}
.social p{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 30px;
text-align: left;
margin: 10px 0;
}

.social i{
    color: #737373;
    border-radius: 20px;
    border: 2px solid  #303030;
    padding: 9px;
}

.fa.fa-facebook{
    padding: 9px 11px;
}

.social-wrapper{
    display: flex;
    justify-content: center;
}

.social-blank{
    background-color: #252525;
    margin-right: 30px;
    width: 350px;
    border-radius: 10px;
    max-height: 330px;
}

.social-blank button{
    border: 2px solid #303030;
    border-radius: 50px;
    font-family: 'Inter',;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    width: 100px;
    height: 40px;
    padding: 0;
    letter-spacing: 0.2em;
    color: #737373;
}
.social-blank button:hover{
    color: greenyellow;
}

.social-blnk-upper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-blnk-lower{
    padding: 30px;
}
.inst-lower .bigger{
    width: 120px;
}
.inst-lower img{
    width: 115px;
    height: 120px;
}
.img-social{
    display: flex;
}
@media only screen and (max-width:1150px){
    .social-wrapper{
        flex-wrap: wrap;
    }
    .social-blank{
        margin: 0 0 30px 0;
    }
    .inst-blnk{
        margin-right: 20px;
    }
    .twitter-blnk{
        margin-left: 20px;
    }
}

@media only screen and (max-width:990px){

.social-blank{
    margin: 0 0 30px 0 ;
}



}

.inst-lower{
display: flex;
flex-wrap: wrap;
padding: 0;
margin-top: 26px;
}

.facebook-blnk{
    margin: 0;
}

/* *******
   ********
   ********  FOOTER
   ********
   ********* 
*/


.footer{
    padding: 40px 0 30px 0;
    background-color: #252525;
}

.footer-line{
    background-color:#303030;
    width: 100%;
    height: 2px;
    margin-top: 20px; 
}

.footer-logo{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.copyrigth p{
    color: #737373;
    margin: 10px 0;
}